// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

$font-path: "../assets/fonts";

$colors: (
  primary: #52b3d9,
  critical: #90c695,
  fumble: #e74c3c,
  light: #f4f4f4
);

// @use "ionic.theme.default";
// @use "ionicons";
// @use "roboto";
// @use "noto-sans";
@use "icons";
