<ion-split-pane contentId="content">
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title class="menu-title" (click)="openRootPage()">
          <ion-icon class="app-icon-d20s"></ion-icon>
          <span class="app-title">CriticalRoll-ng</span>
        </ion-title>
      </ion-toolbar>
    </ion-header>

  </ion-menu>


  <ion-content  id="content">
    <ion-list>
      <ion-item>
        <ion-button>
          <ion-icon ></ion-icon>
          <span class="menu-title">p.title</span>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-split-pane>
